USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 7/11/2021 7:27:19 PM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\QLKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\QLKS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  User [01]    Script Date: 7/11/2021 7:27:19 PM ******/
CREATE USER [01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [nvarchar](10) NOT NULL,
	[TENBP] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DICHVU]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DICHVU](
	[MAPT] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[MADV] [nvarchar](10) NOT NULL,
	[NGAYSUDUNG] [datetime] NOT NULL,
 CONSTRAINT [PK_CT_DICHVU_1] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC,
	[MAPHONG] ASC,
	[MADV] ASC,
	[NGAYSUDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MAPD] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[NGAYDEN] [datetime] NOT NULL,
	[NGAYDI] [datetime] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THUE]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THUE](
	[MAPT] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[NGAYDEN] [datetime] NOT NULL,
	[NGAYDI] [datetime] NULL,
 CONSTRAINT [PK_CHITIETTHUE] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TIENNGHI]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TIENNGHI](
	[MATN] [nvarchar](10) NOT NULL,
	[HANGPHONG] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_CT_TIENNGHI] PRIMARY KEY CLUSTERED 
(
	[MATN] ASC,
	[HANGPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[USER] [nvarchar](10) NOT NULL,
	[PASS] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nvarchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DV] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIADICHVU]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADICHVU](
	[MADV] [nvarchar](10) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK_GIADICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAHANGPHONG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAHANGPHONG](
	[HANGPHONG] [nvarchar](25) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[GIA] [int] NOT NULL,
	[MAKM] [nvarchar](10) NULL,
 CONSTRAINT [PK_GIAHANGPHONG] PRIMARY KEY CLUSTERED 
(
	[HANGPHONG] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGPHONG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGPHONG](
	[TENHP] [nvarchar](25) NOT NULL,
	[LOAIPHONG] [nvarchar](10) NOT NULL,
	[KIEUPHONG] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_HANGPHONG] PRIMARY KEY CLUSTERED 
(
	[TENHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAPT] [int] NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[CMND] [nvarchar](12) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[MASOTHUE] [nvarchar](13) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nvarchar](10) NOT NULL,
	[MOTA] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](20) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[EMAIL] [nvarchar](40) NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[MABP] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPD] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](12) NOT NULL,
	[MAPD] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](10) NOT NULL,
	[HANGPHONG] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENNGHI]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENNGHI](
	[MATN] [nvarchar](10) NOT NULL,
	[TENTIENNGHI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TIENNGHI] PRIMARY KEY CLUSTERED 
(
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'NV', N'Nhân viên')
INSERT [dbo].[BOPHAN] ([MABP], [TENBP]) VALUES (N'QL', N'Quản lý')
GO
INSERT [dbo].[CT_DICHVU] ([MAPT], [MAPHONG], [MADV], [NGAYSUDUNG]) VALUES (89, 203, N'DV03', CAST(N'2021-07-08T21:03:52.943' AS DateTime))
INSERT [dbo].[CT_DICHVU] ([MAPT], [MAPHONG], [MADV], [NGAYSUDUNG]) VALUES (89, 203, N'DV12', CAST(N'2021-07-08T21:03:50.430' AS DateTime))
INSERT [dbo].[CT_DICHVU] ([MAPT], [MAPHONG], [MADV], [NGAYSUDUNG]) VALUES (90, 502, N'DV14', CAST(N'2021-07-08T16:16:07.453' AS DateTime))
GO
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (49, 101, CAST(N'2021-07-10T00:00:00.000' AS DateTime), CAST(N'2021-07-12T00:00:00.000' AS DateTime))
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (49, 201, CAST(N'2021-07-10T00:00:00.000' AS DateTime), CAST(N'2021-07-12T00:00:00.000' AS DateTime))
INSERT [dbo].[CT_PHIEUDAT] ([MAPD], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (50, 106, CAST(N'2021-07-10T00:00:00.000' AS DateTime), CAST(N'2021-07-11T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[CT_THUE] ([MAPT], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (89, 203, CAST(N'2021-07-08T16:14:10.747' AS DateTime), CAST(N'2021-07-15T13:00:00.000' AS DateTime))
INSERT [dbo].[CT_THUE] ([MAPT], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (90, 502, CAST(N'2021-07-08T16:15:27.257' AS DateTime), CAST(N'2021-07-11T13:00:00.000' AS DateTime))
INSERT [dbo].[CT_THUE] ([MAPT], [MAPHONG], [NGAYDEN], [NGAYDI]) VALUES (91, 104, CAST(N'2021-07-08T16:14:10.783' AS DateTime), CAST(N'2021-07-08T20:54:58.400' AS DateTime))
GO
INSERT [dbo].[CT_TIENNGHI] ([MATN], [HANGPHONG]) VALUES (N'TN01', N'DELUXE giường đôi')
INSERT [dbo].[CT_TIENNGHI] ([MATN], [HANGPHONG]) VALUES (N'TN01', N'DELUXE giường đơn')
INSERT [dbo].[CT_TIENNGHI] ([MATN], [HANGPHONG]) VALUES (N'TN01', N'STANDARD giường đôi')
GO
INSERT [dbo].[DANGNHAP] ([USER], [PASS]) VALUES (N'NV01', N'05488A6428E462C35476AAD06FBC02FC')
INSERT [dbo].[DANGNHAP] ([USER], [PASS]) VALUES (N'NV02', N'05488A6428E462C35476AAD06FBC02FC')
INSERT [dbo].[DANGNHAP] ([USER], [PASS]) VALUES (N'NV03', N'1A100D2C0DAB19C4430E7D73762B3423')
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDICHVU]) VALUES (N'DV01', N'Giặt ủi')
INSERT [dbo].[DICHVU] ([MADV], [TENDICHVU]) VALUES (N'DV02', N'Bia 333')
INSERT [dbo].[DICHVU] ([MADV], [TENDICHVU]) VALUES (N'DV03', N'Sprite')
GO
INSERT [dbo].[GIADICHVU] ([MADV], [NGAY], [GIA]) VALUES (N'DV01', CAST(N'2020-06-16T00:00:00.000' AS DateTime), 100000)
INSERT [dbo].[GIADICHVU] ([MADV], [NGAY], [GIA]) VALUES (N'DV01', CAST(N'2021-06-24T22:57:20.913' AS DateTime), 120000)
INSERT [dbo].[GIADICHVU] ([MADV], [NGAY], [GIA]) VALUES (N'DV02', CAST(N'2020-06-16T00:00:00.000' AS DateTime), 30000)
GO
INSERT [dbo].[GIAHANGPHONG] ([HANGPHONG], [NGAY], [GIA], [MAKM]) VALUES (N'DELUXE giường đôi', CAST(N'2021-06-22T18:54:37.090' AS DateTime), 22000, NULL)
INSERT [dbo].[GIAHANGPHONG] ([HANGPHONG], [NGAY], [GIA], [MAKM]) VALUES (N'DELUXE giường đôi', CAST(N'2021-07-09T11:55:39.027' AS DateTime), 22000, NULL)
INSERT [dbo].[GIAHANGPHONG] ([HANGPHONG], [NGAY], [GIA], [MAKM]) VALUES (N'DELUXE giường đôi', CAST(N'2021-07-09T13:25:34.303' AS DateTime), 22000, NULL)
GO
INSERT [dbo].[HANGPHONG] ([TENHP], [LOAIPHONG], [KIEUPHONG]) VALUES (N'DELUXE giường đôi', N'DELUXE', N'giường đôi')
INSERT [dbo].[HANGPHONG] ([TENHP], [LOAIPHONG], [KIEUPHONG]) VALUES (N'DELUXE giường đơn', N'DELUXE', N'giường đơn')
INSERT [dbo].[HANGPHONG] ([TENHP], [LOAIPHONG], [KIEUPHONG]) VALUES (N'STANDARD giường đôi', N'STANDARD', N'giường đôi')
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV], [MAPT], [GIA]) VALUES (49, CAST(N'2021-07-08T20:54:58.403' AS DateTime), N'NV01', 91, 163000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV], [MAPT], [GIA]) VALUES (50, CAST(N'2021-07-08T22:21:06.550' AS DateTime), N'NV01', 92, 452000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV], [MAPT], [GIA]) VALUES (51, CAST(N'2021-07-08T22:39:00.160' AS DateTime), N'NV01', 95, 695000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
INSERT [dbo].[KHACHHANG] ([CMND], [HO], [TEN], [DIACHI], [SDT], [MASOTHUE]) VALUES (N'000000000000', N'Huỳnh Lưu Quốc', N'Linh', N'', N'0123456789', N'')
INSERT [dbo].[KHACHHANG] ([CMND], [HO], [TEN], [DIACHI], [SDT], [MASOTHUE]) VALUES (N'000011112222', N'Ngô Thu', N'Hà', N'123', N'0987654321', N'')
INSERT [dbo].[KHACHHANG] ([CMND], [HO], [TEN], [DIACHI], [SDT], [MASOTHUE]) VALUES (N'000055556666', N'Ngô Thị Thu', N'Hiền', N'12/5 Man Thiện Phường 19', N'0123456789', N'')
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [MOTA]) VALUES (N'KM01', N'Giảm 20% cho mọi khách hàng')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [EMAIL], [SDT], [MABP]) VALUES (N'NV01', N'Ngô Thu', N'Hà', N'Nữ', CAST(N'2000-04-02T00:00:00' AS SmallDateTime), N'thuhango0204@gmail.com', N'0342542386', N'QL')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [EMAIL], [SDT], [MABP]) VALUES (N'NV02', N'Nguyễn Thị Thanh', N'Huyền', N'Nữ', CAST(N'2000-01-01T00:00:00' AS SmallDateTime), N'huyen123@gmail.com', N'0123456789', N'NV')
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [NGAYSINH], [EMAIL], [SDT], [MABP]) VALUES (N'NV03', N'Nguyễn Thị Thảo', N'Nguyên', N'Nữ', CAST(N'2000-01-01T00:00:00' AS SmallDateTime), N'nguyennguyen@gmail.com', N'0987654321', N'QL')
GO
SET IDENTITY_INSERT [dbo].[PHIEUDAT] ON 

INSERT [dbo].[PHIEUDAT] ([MAPD], [MANV], [MAKH]) VALUES (49, N'NV01', N'000011112222')
INSERT [dbo].[PHIEUDAT] ([MAPD], [MANV], [MAKH]) VALUES (50, N'NV01', N'999999999999')
INSERT [dbo].[PHIEUDAT] ([MAPD], [MANV], [MAKH]) VALUES (51, N'NV01', N'333333333333')
SET IDENTITY_INSERT [dbo].[PHIEUDAT] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] ON 

INSERT [dbo].[PHIEUTHUE] ([MAPT], [MANV], [MAKH], [MAPD]) VALUES (89, N'NV01', N'222211110000', NULL)
INSERT [dbo].[PHIEUTHUE] ([MAPT], [MANV], [MAKH], [MAPD]) VALUES (90, N'NV01', N'999999999999', NULL)
INSERT [dbo].[PHIEUTHUE] ([MAPT], [MANV], [MAKH], [MAPD]) VALUES (91, N'NV01', N'222211110000', NULL)
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] OFF
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [HANGPHONG]) VALUES (101, N'Đặt', N'STANDARD giường đơn')
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [HANGPHONG]) VALUES (102, N'Thuê', N'STANDARD giường đôi')
INSERT [dbo].[PHONG] ([MAPHONG], [TRANGTHAI], [HANGPHONG]) VALUES (103, N'Dơ', N'DELUXE giường đơn')
GO
INSERT [dbo].[TIENNGHI] ([MATN], [TENTIENNGHI]) VALUES (N'TN01', N'Máy lạnh')
INSERT [dbo].[TIENNGHI] ([MATN], [TENTIENNGHI]) VALUES (N'TN02', N'Máy sấy')
INSERT [dbo].[TIENNGHI] ([MATN], [TENTIENNGHI]) VALUES (N'TN03', N'Tủ lạnh')
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUE_CHITIETDICHVU] FOREIGN KEY([MAPT], [MAPHONG])
REFERENCES [dbo].[CT_THUE] ([MAPT], [MAPHONG])
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [FK_CHITIETTHUE_CHITIETDICHVU]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_CHITIETDICHVU_MADV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CT_DICHVU] CHECK CONSTRAINT [FK_DICHVU_CHITIETDICHVU_MADV]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_CHITIETPHIEUDAT_MAPD] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_CHITIETPHIEUDAT_MAPD]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CHITIETPHIEUDAT_MAPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_PHONG_CHITIETPHIEUDAT_MAPHONG]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_THUE_PHIEUTHUE_MAPT] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTHUE] ([MAPT])
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_CT_THUE_PHIEUTHUE_MAPT]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CHITIETTHUE_MAPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_PHONG_CHITIETTHUE_MAPHONG]
GO
ALTER TABLE [dbo].[CT_TIENNGHI]  WITH CHECK ADD  CONSTRAINT [FK_HANGPHONG_CHITIETTIENNGHI_MAHP] FOREIGN KEY([HANGPHONG])
REFERENCES [dbo].[HANGPHONG] ([TENHP])
GO
ALTER TABLE [dbo].[CT_TIENNGHI] CHECK CONSTRAINT [FK_HANGPHONG_CHITIETTIENNGHI_MAHP]
GO
ALTER TABLE [dbo].[CT_TIENNGHI]  WITH CHECK ADD  CONSTRAINT [FK_TIENNGHI_CHITIETTIENNGHI_MATN] FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNGHI] ([MATN])
GO
ALTER TABLE [dbo].[CT_TIENNGHI] CHECK CONSTRAINT [FK_TIENNGHI_CHITIETTIENNGHI_MATN]
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DANGNHAP_NHANVIEN_MANV] FOREIGN KEY([USER])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DANGNHAP] CHECK CONSTRAINT [FK_DANGNHAP_NHANVIEN_MANV]
GO
ALTER TABLE [dbo].[GIADICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_GIADICHVU_MADV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[GIADICHVU] CHECK CONSTRAINT [FK_DICHVU_GIADICHVU_MADV]
GO
ALTER TABLE [dbo].[GIAHANGPHONG]  WITH CHECK ADD  CONSTRAINT [FK_HANGPHONG_GIAHANGPHONG_TENHP] FOREIGN KEY([HANGPHONG])
REFERENCES [dbo].[HANGPHONG] ([TENHP])
GO
ALTER TABLE [dbo].[GIAHANGPHONG] CHECK CONSTRAINT [FK_HANGPHONG_GIAHANGPHONG_TENHP]
GO
ALTER TABLE [dbo].[GIAHANGPHONG]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_GIAHANGPHONG_MAKM] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[GIAHANGPHONG] CHECK CONSTRAINT [FK_KHUYENMAI_GIAHANGPHONG_MAKM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN_MANV]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_HOADON] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTHUE] ([MAPT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_PHIEUTHUE_HOADON]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_NHANVIEN_MABP] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_BOPHAN_NHANVIEN_MABP]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_PHIEUDAT_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([CMND])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_KHACHHANG_PHIEUDAT_MAKH]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHIEUDAT_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_NHANVIEN_PHIEUDAT_MANV]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_PHIEUTHUE_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([CMND])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_KHACHHANG_PHIEUTHUE_MAKH]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHIEUTHUE_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_NHANVIEN_PHIEUTHUE_MANV]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_PHIEUTHUE_MAPD] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUDAT_PHIEUTHUE_MAPD]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_HANGPHONG_PHONG_TENHP] FOREIGN KEY([HANGPHONG])
REFERENCES [dbo].[HANGPHONG] ([TENHP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_HANGPHONG_PHONG_TENHP]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_PHAI] CHECK  (([PHAI]=N'NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_PHAI]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_PHONG_MAPHONG] CHECK  (([MAPHONG]>=(0)))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_PHONG_MAPHONG]
GO
/****** Object:  StoredProcedure [dbo].[loadDG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadDG]
@MADV nvarchar(10)

as
SELECT X.GIA
FROM (SELECT DG.MADV,dg.GIA , y.TG_GANNHAT
		FROM (select MADV, MAX(GIADICHVU.NGAY) as TG_GANNHAT
				FROM GIADICHVU
				GROUP BY MADV) AS Y, GIADICHVU DG
		WHERE Y.MADV = DG.MADV AND Y.TG_GANNHAT = DG.NGAY ) X
WHERE X.MADV = @MADV
GO
/****** Object:  StoredProcedure [dbo].[loadGIAHANGPHONG]    Script Date: 7/11/2021 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadGIAHANGPHONG]
@MAHP nvarchar(25)
as
SELECT X.GIA
FROM (SELECT DG.HANGPHONG, dg.GIA , y.TG_GANNHAT
		FROM (select HANGPHONG, MAX(GIAHANGPHONG.NGAY) as TG_GANNHAT
				FROM GIAHANGPHONG
				GROUP BY HANGPHONG) AS Y, GIAHANGPHONG DG
		WHERE Y.HANGPHONG = DG.HANGPHONG AND Y.TG_GANNHAT = DG.NGAY ) X
WHERE X.HANGPHONG = @MAHP
GO
USE [master]
GO
